
.card {
    position: relative;
    width: 215px;
    height: 254px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:brown;
    border: none;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
  }
  
  .card b {
    position: absolute;
    inset: 6px;
    z-index: 2;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.549);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .c1{
    background-image: url('./book1.jpg');
    background-position: 0px;
  }
  .c2{
    background-image: url('./book2.jpg');
  }
  .c3{
    background-image: url('./book3.jpg');
  }
  .c4{
    background-image: url('./book4.jpg');
  }
  
  .c5{
    background-image: url('./book5.jpg');
  }
  .c6{
    background-image: url('./book6.jpg');
  }

  .c7{
    background-image: url('./book7.jpg');
  }
  .c8{
    background-image: url('./book8.webp');
  }
  .c9{
    background-image: url('./book9.jpg');
  }
  .c10{
    background-image: url('./book10.jpg');
  }
  .c11{
    background-image: url('./book12.webp');
  }
  .c12{
    background-image: url('./book13.jpg');
  }
  
  .card:hover img {
    scale: 0.5;
    opacity: 0.9;
  }
  
  .card .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .card:hover .content {
    transform: scale(1);
    bottom: 25px;
  }
  
  .content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(4,10fr); 
     margin-left: 20%;
    margin-right:20%; 
  }